.home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
    padding-bottom: 7rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }

  .header-text {
    position: absolute;
    left: 20%;
    bottom: 60%;
    padding: 1rem;
    background-color: rgba(0, 127, 206, 0.747);
    border-radius: 20px;
    padding: 2rem;
  }
  
  .header-text h1 {
    font-weight: 500;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Taviraj', serif;
    color: rgb(216, 212, 212);
    line-height: 40px;
  }
  .header-text h4 {
    font-weight: 400;
  }

  .header-text img {
    left: 20%;
    position: relative;
  }



  @media  screen and (max-width: 1000px) {
    .header-text {
      left: auto;
    } 
    
  }

  @media screen and (max-width: 750px) {
    .home img {
      width: 100%;
    }
    .header-text h4 {
      font-size: x-small;
    }
    .header-text {
      position: relative;
      margin-bottom: 1rem;
      margin: 0 5px;
    }
    .home {
      padding: 9rem 0 3rem 0;
    }
    .home {
      display: flex;
      flex-wrap: wrap-reverse;
      padding-top: 8rem;
    }
    .header-text h1 {
      font-size: 5vw;
    }
  }

  @media screen and (max-width: 500px) {
    .header-text h1 {
      font-size: large;
      
    }

    
    .home img {
      height: 55vh;
      width: 100%;
    }
    
    
  }


