
.header {
  height: 150vh;
  overflow: hidden;
  
}


.software-text {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  padding: 5rem 2rem;
  z-index: -5;
  position: relative;
  top: 13%;
  left: 15%;
  font-size: 10vw;
  color: rgb(225, 225, 225);
}

.engineer-text {
  font-size: 10vw;
  color: rgb(0, 0, 0);
  position: relative;
  left: 30%;
  bottom: 5%;
  z-index: -3;
  word-spacing: 5px;
}

.title {
  font-size: 5vw;
  z-index: 1;
  color: rgb(16, 155, 241);
  position: relative;
  top: -20%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: -1;
  word-spacing: 5px;
  text-shadow: 0 0 15px rgba(139, 139, 139, 0.61);
}

